<!doctype html>
<html>
	<head>
	    <meta charset="utf-8" />
	    <title></title>
	    <link rel="stylesheet" type="text/css" href="resource/css/app.min.css" />
	</head>
	<body>
		<script type="text/jx-handlebars" id="application">
			{{outlet}}
		</script>
		<script type="text/javascript" src="resource/js/jquery.js"></script>
		<script type="text/javascript" src="resource/js/handlebars.js"></script>
		<script type="text/javascript" src="resource/js/ember.js"></script>
		<script type="text/javascript" src="resource/js/utils.js"></script>
		<script type="text/javascript" src="resource/js/app.js"></script>
		<script type="text/javascript" src="resource/js/router.js"></script>
		<script type="text/javascript" src="resource/js/templates.js"></script>
		<script type="text/javascript" src="resource/js/models.js"></script>
		<script type="text/javascript" src="resource/js/routes.js"></script>
		<script type="text/javascript" src="resource/js/views.js"></script>
		<script type="text/javascript" src="resource/js/controllers.js"></script>
		<script type="text/javascript" src="resource/js/components.js"></script>
	</body>
</html>
